*{
    padding: 0;
    margin: 0;
    
}

*, *:before, *:after {
    box-sizing: inherit;


}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


.header{
    height: 30vh;
    background: url(/imagen/forest.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
}
.header h1{
    background: rgba(0,0,0,.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(240, 227, 227);
    padding: .5em;
    font-size: 3em;
}
h2{
    color: rgb(240, 227, 227);
    text-align: center;
    padding: .5em;
    font-size: 3em;
   
   border-radius: 10px;
}
.mostrar_resultados{
    font-size: 2em;
    text-align: center;
    margin: 3em auto;
    font-family: sans-serif;
    font-weight: 400;
    
}
.descripcion{
    background: red;
    cursor: pointer;
}
.descripcion_estilo{
    line-height: 1.5;
    font-size: 1.2em;
}

.fondo_gris{
    background: rgba(228, 222, 222, 0.5);
    width: 50%;
    margin: 0 auto;
    padding: .5em;
    line-height: 1.5;
    border: 2px dashed #000;
    border-radius: 10px;
}
.alerta{
    width: 20%;
    text-align: center;
    padding: 1em;
    font-size: 2rem;
    border: 2px dashed red;
    background: rgb(207, 79, 79);
    margin: 0 auto;
}

.formulario{
    display: flex;
    justify-content: space-around;
    padding-top: 3em;

}

.form-container{
    display: flex;
    gap: 1em;
}

select,
label{
    font-size: 2em;
}
select{
    padding: .5em;
    background: darkgray;
    color: white;
}
option{
    padding: .3em;
}
.centrar{
    text-align: center;
}

.boton{
    padding: 2px;
    border: none;
    background: none;
    margin-left: 10px;
    border: 2px solid green;
    border-radius: 5px;
    font-size: .7em;
    cursor: pointer;
}

.escondido{
    display: none;
}

.contenedor_categoria{
    width: 33%;
    aspect-ratio: 1 / .3;
    margin: 20px auto;
    cursor: pointer;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    border-radius: 5px;
    filter: grayscale(100%)
}
.contenedor_categoria:hover{
    transform: scale(1.03);
    filter: grayscale(0%);
    box-shadow: 2px 0px 19px 0px rgba(0,0,0,0.93);
}
.activa{
    filter: grayscale(0%);
    transform:scale(1.03);
    box-shadow: 2px 0px 19px 0px rgba(0,0,0,0.93);
}

.div_selectores{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to right bottom,  rgb(18, 42, 8), rgb(5, 17, 1) )
}
.div_tamaños,
.div_tipos,
.div_climas{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor_categoria p{
    border: 2px solid black;
    padding: .6em;
    border-radius: 5px;
    color: #fff;
    background: rgba(0, 0, 0, .6)
}

.div_selectores h3{
    font-size: 2.4em;
    color: #fff;
    
    text-align: center;
    
}


@media(max-width: 1200px){
    .contenedor_categoria p{
        padding: .2em;
        
    }
}

@media(max-width: 1000px){
    .contenedor_categoria p{
        font-size: 3rem;
        padding: .2em;
        
    }
}


@media(max-width: 700px){
    .div_climas{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content:space-evenly;
    }
    .div_climas .contenedor_categoria{
        width: 100%;
        aspect-ratio: 1 / 1;
    }
    
    
    .contenedor_categoria{
        height: 200px;
        margin: 0 auto;
        border-radius: 0;
        font-size: 2rem;

    }
}

.resultados{
    margin: 0px auto;
    background: linear-gradient(to right,  rgba(54, 109, 2, 0.5), rgba(38, 77, 2, .5));
    padding-bottom: 3em;
}

.grande{
    background-image: url(/imagen/grande.jpg);
    background-size: cover;
    background-position: center;

}
 .mediano{
    background-image: url(/imagen/mediano.jpg);
    background-size: cover;
    background-position: center;

}
 .pequeño{
    background-image: url(/imagen/pequeño.jpg);
    background-size: cover;
    background-position: center;

}
 .calido{
    background-image: url(/imagen/clima_calido.jpg);
    background-size: cover;
    background-position: center;

}
 .tropical{
    background-image: url(/imagen/clima_tropical.jpg);
    background-size: cover;
    background-position: center;

}
 .frio{
    background-image: url(/imagen/clima_frio.jpg);
    background-size: cover;
    background-position: center;

}
 .frutal{
    background-image: url(/imagen/arbol_frutal.jpg);
    background-size: cover;
    background-position: center;

}
 .floral{
    background-image: url(/imagen/arbol_floral.jpg);
    background-size: cover;
    background-position: center;

}
.templado{
    background-image: url(/imagen/templado.jpg);
    background-size: cover;
    background-position: center;

}
 .ornamental{
    background-image: url(/imagen/arbol_ornamental.jpg);
    background-size: cover;
    background-position: center;

}

.titulo_resultados{
    color: black;
}

